body{
    margin: 0;
}

.top{
  color:white;
  background-color:#2c3e50;
  display:flex;
  justify-content: center;
  align-items:center; 
  font-family: Montserrat;
  font-weight: 600;
}

.top ul{
    display:flex;
    justify-content: flex-end;
    list-style-type:none;
    color: white;
    margin: 0px 0px 0px 200px;
    
}

li {
    padding-left: 20px;
}

.sectionOne{
  background-color: #18bc9c ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionOne img{
  padding: 100px 0px 0px 10px;  
}

.sectionOne h1,p{
    color: white;
    font-size: 60px;
    margin: 20px;    
}

.sectionOne p{
    font-size: 23px;
    padding: 0px 0px 20px;
}

.sectionPortifolio{
    margin: 14%;
    color:#2c3e50;
    background-color: white; 
    font-size: 30px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.sectionPortifolio img{
    height: 230px;  
  
}


.about div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #18bc9c;
  padding: 12%;
  
}


.about .aboutOne{
 
  justify-content: space-around;
  align-self: right;
}